.gitattributes
.vs/
Lib/
Scripts/
*.ipynb
bert-base-german-cased_finetuned/
bert-base-german-cased_output/
bert-base-german-cased_ris_finetuned/
deepset/
dist_metrics.pxd
distilbert-base-german-cased_ris_finetuned/
etc/
filtered_media_test_100_*.csv
german-nlp-group/
gpt2*.ipynb
jinaai/
media_test_100_*.csv
model_checkpoint/
nreimers/
pyvenv.cfg
sentence_embeddings_batched.csv
share/
xlm-roberta-base_finetuned/
xlm-roberta-base_ris_finetuned/
xlm-roberta-base_ris_finetuned/
bert-base-german-cased_risik_finetuned/
distilbert-base-german-cased_finetuned/
distilbert-base-german-cased_finetuned/
distilbert-base-german-cased_finetuned/checkpoint-570/optimizer.pt
distilbert-base-german-cased_finetuned/checkpoint-570/scheduler.pt